.container
  margin-top: 100px
  display: flex
  flex-direction: column
  justify-content: space-between

.top
  margin-bottom: 16px
  margin-left: 48px

.bottom
  margin-top: 16px
  margin-left: 48px

.list
  list-style: none

.ingredients
  width: 600px
  max-height: 464px
  overflow-y: scroll

.hide-scroll
  overflow: hidden
