@import "../../utils-for-application/constants.sass?_=#{$_}"

$jbm: $fontJBM
$s: $shadow
$bgc: $backgroundColor
$ic: $inactiveColor

.disable
  display: none

.container
  width: 720px
  height: 538px
  display: flex
  flex-direction: column
  align-items: center
  background: $bgc
  border: 1px solid rgba(76, 76, 255, 0.2)
  box-shadow: $s
  border-radius: 40px

.title
  width: 560px
  margin: 52px 80px 0 0px
  font-family: $jbm
  font-size: 36px
  line-height: 40px

.image
  margin: 12px 0 0 0

.name
  margin: 17px 0 0 0
  font-family: $jbm
  font-weight: 700
  font-size: 24px
  line-height: 30px

.list
  width: 516px
  display: flex
  justify-content: space-between

.item
  font-family: $jbm
  line-height: 24px
  color: $ic
  display: flex
  flex-direction: column
  align-items: center
  &:nth-child(2)
    transform: translateX(-9px)
  &:nth-child(3)
    transform: translateX(1px)
  &:nth-child(4)
    transform: translateX(-3px)

.nutrition
  margin: 32px 0 0 3px
  display: flex

.value
  margin: 7px 0 0 0
