.container
  margin-top: 100px

.list
  margin: 0
  padding: 0
  list-style: none

.top
  margin-bottom: 16px
  margin-left: 48px

.ingredients
  width: 600px
  max-height: 464px
  overflow-y: scroll

.bottom
  margin-top: 16px
  margin-left: 48px

.ingredients-list
  padding: 0

.ingredients-item
  margin-top: 16px
  display: flex
  align-items: center
  &:first-child
    margin: 0

.drag
  margin-left: 16px
  margin-right: 8px
  width: 24px
  height: 24px

.element
  min-width: 536px

.wrapper
  margin-top: 40px
  margin-right: 16px
  display: flex
  justify-content: end
  gap: 41.5px

.receipt
  margin-top: 2px
  display: flex
  align-items: center
  gap: 19px

.total
  width: 285px
  overflow: hidden
  text-overflow: ellipsis
  text-align: end

.currency
  scale: 1.5
  transform: translate(-3px, -1px)
  display: flex