@import "../../utils/constants.sass?fontJBM=#{$fontJBM}"

.container
  margin-top: 40px
  width: 600px

.title
  margin: 0 0 20px 0
  font-family: $fontJBM
  font-weight: 700
  font-size: 36px
  line-height: 40px

.ingredients
  width: 600px
  height: 664px
  overflow-y: scroll
